@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --main-desktop-font-size: 30px;
  --main-border-color: #111;
  --header-toggle-width: 30px;
  --main-background-color: #333;
  --main-text-color: #fff;
  --screen-desktop-padding-top-bottom: 50px;
  --screen-desktop-padding-left-right: 50px;
}

* {
  box-sizing: border-box;
  -webkit-user-drag: none;
}

html,
body {
  all: unset;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: var(--main-desktop-font-size);
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

.main-structure,
.main-structure header,
.main-structure .content,
.main-structure footer {
  width: 100%;
  border: 5px dashed var(--main-border-color);
  user-select: none;
}

.main-structure {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-structure header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-structure header .menu-logo {
  width: var(--header-toggle-width);
  height: var(--header-toggle-width);
  background: url('/src/icons/menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--header-toggle-width);
  filter: invert(1); /* invert logo color */
}

.main-structure header a {
  display: inline-block;
  text-decoration: none;
  color: var(--main-text-color);
}

.main-structure header,
.main-structure .content,
.main-structure footer {
  padding: var(--screen-desktop-padding-top-bottom) var(--screen-desktop-padding-left-right);
}
